.login-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(149, 193, 241, 0);
    background-size: 100%;
    background-repeat:no-repeat;
}

.login-form-button {
    width: 100%;
    color: #00474f;
}
