.google-map {
    height: 100%;
    /*display: flex;*/
}
.map-list {
    display: flex;
    background: aliceblue;
    border-radius: 10px;
    padding: 10px;
}
.selected-places-list {
    background: aliceblue;
    border-radius: 10px;
    /*height: 600px;*/
}
.selected-places-list-content {
    display: flex;
    justify-content: space-between;
}
.info-window {
    background-color: whitesmoke;
    padding: 20px;
    font-size: 16px;
    color: black;
}
.drop-scroll {
    overflow: scroll;
    height: 440px;
}