.plan-holder {
    display: flex;
    justify-content: center;
    /*margin-bottom: 200px;*/
    min-width: 500px;
    margin-bottom: 6%;
    text-align: center;
}
.map-holder {
    display: flex;
    justify-content: center;
}
.history-map-holder {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.return-button {
    background: transparent; outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 15px 50px;
    overflow: hidden;
    font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 1em;
    transition: all .3s ease-in-out;
    cursor: pointer;
}