.register {
    width: 500px;
    margin-left: auto;
    margin-right: auto;

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-bottom: 20px;

    background-color: rgba(245, 245, 245, 0.65);
    padding: 20px;
    border-radius: 10px;
}

